<h3><i class="fab fa-facebook-square"></i>Facebook stories</h3>
<div class="section">
  <p class="lead">Create public and private stories</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> Login with google</i>
  </a>
</div>